:root {
  --greyDark: #7d8792;
  --headingColor: #2d2e2e;
  --white: #fff;
  --black: #000;
  --silver: #bac8d3;
  --primaryColor: #1ebd65; /* 确保 hover 颜色有效 */
}

body {
  background-color: var(--headingColor);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--greyDark);
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: var(--primaryColor);
}

p {
  color: var(--silver);
  font-size: 15px;
  line-height: 30px;
  margin: 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.container {
  max-width: 80%;
  margin: auto;
}

.flexsb {
  display: flex;
  justify-content: space-between;
}

/*-------------------header---------------*/
header {
  background-color: var(--headingColor);
  height: 10vh;
  line-height: 10vh;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header a {
  margin-left: 40px;
}

/*-------------------creative-----------------*/
.creative .quote {
  font-size: 50px;
  color: var(--primaryColor);
  margin: 20px 0;
}

.creative .content h1 {
  font-size: 30px;
  font-weight: 500;
}

.creative .content h3 {
  margin: 40px 0 20px 0;
  font-weight: 400;
  font-size: 20px;
  color: var(--primaryColor);
}

/*-------------------educations-----------------*/
.educations .box {
  margin-top: 20px;
}

.educations .content h1 {
  font-size: 40px;
  color: var(--primaryColor);
  margin-right: 30px;
}

.educations .content h2 {
  font-size: 18px;
  font-weight: 500;
}

.educations .contentLeft {
  padding: 80px 50px;
}

/*-------------------响应式----------------------*/
@media (max-width: 768px) {
  .container {
      max-width: 95%;
  }
}
